services:
  db:
    image: postgres:15
    container_name: postgres_server
    restart: always
    environment:
      POSTGRES_USER: eduardo
      POSTGRES_PASSWORD: tu_password_seguro
      POSTGRES_DB: crypto_data
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
